:root
{
    --bg-mask-color: rgba(0, 0, 0, 0.1);
    --card-mask-color: rgba(0, 0, 0, 0.5);
    --card-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0.2rem 0.1rem;
    --card-blur: blur(4rem);
    --text-color: #ccc;
    --listbox-header-border: #777 1px solid;
}

*
{
    font-family: "Cascadia Mono";
    font-size: 1rem;
    color: var(--text-color);
}

.h-fill
{
    display: flex;
}

.h-center
{
    text-align: center;
}

.v-fill
{
    display: block;
}

.v-center
{
    display: flex;
    align-items: center;
}

body
{
    margin: 0;
    box-sizing: border-box;
}

.bg-img,
.bg-mask
{
    position: fixed;
    width: 100%;
    height: 100%;
}

.bg-mask
{
    background-color: var(--bg-mask-color);
}

.content-header > *:first-child,
.content
{
    margin: auto;
    width: 50%;
}

.card
{
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: left;
    transition: all 0.2s;
}

.card-mask
{
    backdrop-filter: var(--card-blur);
    background-color: var(--card-mask-color);
    box-shadow: var(--card-shadow);
}

.listbox-header
{
    margin-bottom: 0.5rem;
    border-bottom: var(--listbox-header-border);
    padding: 0.25rem;
    font-size: 2rem;
}

.listbox > div
{
    padding: 0.25rem;
}

.listbox > div > .lv1
{
    margin-left: 1rem;
}

.listbox > div > .lv2
{
    margin-left: 2rem;
}

.listbox > div > .lv3
{
    margin-left: 4rem;
}
