::-webkit-scrollbar
{
    width: 1px;
}

.content > div:first-child
{
    min-width: max-content;
}

.content > div:last-child
{
    width: 100%;
}

#s-preset-list > div:hover li
{
    cursor: pointer;
}

#s-input-pattern
{
    border: none;
    width: 100%;
    background: none;
    font-size: 1.5rem;
}

#s-input-pattern:focus
{
    border: none;
    outline: none;
}

#s-result-list > *
{
    border-bottom: var(--listbox-header-border);
}

#s-result-list > *:last-child
{
    border-bottom: none;
}

#s-result-list > * > *
{
    padding: 0.5rem;
}

#s-result-list > * > *:nth-child(2)
{
    color: #ff8844;
}
